body {
    font-size: 21px; /* Adjust the size as needed */
}

h1, h4, h5, h6 {
    font-size: inherit; /* Keep the titles' font size unchanged */
}


h3 {
        color: darkblue;
        font-size: inherit;
}

h2 {
    font-style: italic; 
    text-decoration: underline;
    font-size: inherit;
}
